Flask~=1.1.2
Gunicorn
Werkzeug~=1.0.1
numpy~=1.15.2
pandas~=0.25.3
opencv-python~=4.2.0.34
cmake
argparse~=1.4.0
scipy~=1.4.1
dlib~=19.19.0
tensorflow==1.9.0
imutils~=0.5.3
tika~=1.23.1
wave~=0.0.2
nltk~=3.4
gensim~=3.8.3
seaborn~=0.10.1
scikit-learn~=0.22.2.post1
dill~=0.3.1.1
keras==2.2.0
wordcloud
cv2
time
re
os

collections

matplotlib~=3.2.1
requests~=2.23.0
altair~=4.1.0
Library~=0.0.0
beautifulsoup4~=4.9.0
PyAudio~=0.2.11
librosa~=0.7.2
PREDICT~=3.1.2
wget~=3.2